.button {
  display: flex;
  height: 4em;
  width: 4em;
  flex: 1;
  justify-content: center;
  align-items: center;
  font-size: 1.4em;
  background-color: #d3d3d3;
  color: #000;
  margin: 5px;
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}

.button:hover,
.button:focus {
  background-color: #a7a7a7;
}

.operator {
  background-color: #1e90ff;
  color: #fff;
  margin: 5px;
}

.operator:hover,
.operator.focus {
  background-color: #1a76d1;
}

.equal-btn {
  background-color: #a52a2a;
}

.equal-btn:hover,
.equal-btn:focus {
  background-color: #a52a2aa8;
}

@media screen and (max-width: 500px) {
  .button {
    font-size: 1.2rem;
  }

  .backspace-btn {
    font-size: 1rem;
    height: 4.8em;
  }
}

@media screen and (max-width: 350px) {
  .button {
    height: 3em;
    font-size: 1rem;
  }

  .backspace-btn {
    font-size: 0.8rem;
    height: 3.8em;
  }
}

@media screen and (max-width: 330px) {
  .button {
    margin: 3px;
  }
}
