.output {
  display: flex;
  height: 4em;
  flex: 1;
  background-color: #296845;
  color: #fff;
  justify-content: flex-end;
  padding: 0.5em;
  font-weight: bold;
  font-size: 1.4em;
  align-items: center;
  margin: 5px;
  border-radius: 20px;
}

@media screen and (max-width: 500px) {
  .output {
    height: 3em;
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 350px) {
  .output {
    font-size: 1rem;
  }
}
