.App {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(
    to top,
    #0c3483 0%,
    #a2b6df 100%,
    #6b8cce 100%,
    #a2b6df 100%
  );
}

.calc-heading {
  margin-top: 0;
  color: #fff;
}

.calc-container {
  width: 400px;
  height: auto;
}

.row {
  display: flex;
  width: 100%;
}

@media screen and (max-width: 500px) {
  .calc-container {
    width: 300px;
  }
}
